* {
  box-sizing: border-box; 
}

body {
  background-color: #FFFFFF;
  width: 1025px;
  margin-left: auto;
  margin-right: auto ;
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 934px;
  height: 466.67px;
  margin-left: 38px;
  margin-right: 53px;
  margin-top: 59px;
  display: flex;
  position: relative;
}

.container img{
  width: 400px;
  height: 466.67px;
}

.container button{
  width: 200px;
  height: 60px;
  background-color: #27AE60;
  border-radius: 8px;
  color: #FFFFFF;
  border: #27AE60;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-top: 30px;
  position: absolute;
  right: 0;
}

.buttons{
  width: 664px;
  height: 91px;
  margin-top: 70.33px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-auto-flow: column;
  grid-column-gap: 12px;
  grid-row-gap: 11px;
  margin-left: auto;
  margin-right: auto;
}

.container .word{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
  position: absolute;
  right: 0;
  bottom: 26.67px;
}

.loss{
  color: red;
}

.win{
  color: green;
}

.hidden{
  display: none;
}

.disabled button{
  width: 40px;
  height: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  background-color: #9FAAB5;
  color: #3C76A1;
  border: 1px #7AA7C7 solid;
  border-radius: 3px;
  pointer-events: none;
}

.enabled button{
  width: 40px;
  height: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  background-color: #E1ECF4;
  color: #3C76A1;
  border: 1px #7AA7C7 solid;
  border-radius: 3px;
}

.input_container{
  margin-left: auto;
  margin-right: auto;
  width: 624px;
  height: 40px;
  margin-top: 56px;
}

.input_container span{
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.input_container input{
  width: 353px;
  height: 40px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  margin-left: 12px;
  margin-right: 14px;
}

input:focus{
  outline: none;
  border: 2px solid #CCCCCC;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  font-size: 15px;
}

.input_container .enabled{
  width: 100px;
  height: 40px;
  color: #3C76A1;
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  border: 1px #7AA7C7 solid;
  border-radius: 3px;
  background-color: #E1ECF4;
}

.input_container .disabled{
  width: 100px;
  height: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  background-color: #9FAAB5;
  color: #3C76A1;
  border: 1px #7AA7C7 solid;
  border-radius: 3px;
  pointer-events: none;
}

button:hover{
  cursor: pointer;
}